@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Raleway");

body {
  margin-bottom: 5em;
  /* background-image: url("https://getwallpapers.com/wallpaper/full/e/d/3/109464.jpg"); */
  background-image: url("https://getwallpapers.com/wallpaper/full/8/a/a/44046.jpg");
  color: white;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.link:hover {
  text-decoration: none;
}
.btn:hover {
  border: 2px solid white;
  color: white;
}
.welcomebtn {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 25px;
  min-height: 15vh;
  min-width: 35vw;
}
.welcomepage {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .welcomebtn {
    width: 100%;
  }
}
Link:hover {
  border: white;
}
.input {
  width: 500px;
}
.data {
  padding: 60px;
}
.geturl {
  background-color: rgb(97, 35, 97);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  text-align: center !important;
}
.urllabel {
  color: white;
  font-size: 50px;
  margin-left: 6.8em;
}
.data {
  margin-top: 50px;
}
.generate {
  background-color: rgb(97, 35, 97);
  border: 1px solid rgb(255, 255, 255);
  font-size: 20px;
  margin-top: 50px;
  border-radius: 10px;
  width: 400px;
  height: 60px;
}
.generatebtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.urls {
  background-color: rgba(0, 0, 0, 0.527);
  color: white;
  border: 0.5px solid white;
  border-radius: 10px;
}
a {
  color: white;
}
a:hover {
  color: white;
}
.login {
  background-color: rgba(0, 0, 0, 0.527);
  padding: 20px;
}
.fas {
  color: black;
}
.login-button {
  padding: 10px 0 10px 0;
}
header,
.header-content {
  margin-top: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-content {
  font-size: 16px;
  font-weight: 300;
  color: white;
}
.company {
  font-size: 40px;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.527) !important;
}
.intro {
  font-family: "Amatic SC", sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  margin-left: 10px;
}
h2 {
  padding: 10px;
}
.Button {
  max-width: 30vw;
  color: white;
}
.btn-light {
  font-size: 20px;
  color: white;
  min-height: 8vh;
  min-width: 12vw;
}
input[type="text"] {
  /* margin: 20px; */
  /* text-align: center; */
  display: inline-block;
  /* max-width: 30vw; */
  /* background-color: rgba(255, 255, 255, 0.363); */
  /* color: white; */
}
.btn {
  width: 10em;
}
.login_btn {
  border: 1px solid white;
  color: white;
  width: 100%;
}
.options {
  font-family: "Amatic SC", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  margin-left: 10px;
}
.Title {
  font-family: "Amatic SC", sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  padding: 10px;
}
.opts {
  font-size: 20px;
}
img {
  max-height: 25vh;
  /* max-width: 40vw; */
}
#orderimg {
  max-height: 15vh;
}
.createpizza {
  color: white;
  min-width: 20vw;
  min-height: 10vh;
  font-size: 20px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.363);
}
.ordercard {
  background-color: rgba(0, 0, 0, 0.527);
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
hr {
  max-width: 70em;
  height: 2px;
  background-color: white;
  border: 0;
}
.divider {
  margin: 40px;
}
.card {
  border: 1px solid white;
}

span {
  font-size: 25px;
}
.total {
  font-size: 2em;
}
